body{
  overflow-x: hidden;
  background: #ECE9E6; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #ECE9E6 , #FFFFFF); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #ECE9E6 , #FFFFFF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  font-family: 'Open Sans', sans-serif;
}
.navbar{
  background-color:#111111;
}
ul.nav li a, ul.nav li a:visited {
    color: white !important;
}
ul.nav li a:hover, ul.nav li a:active {
    color: lightgrey !important;
    text-decoration:none;
}
.page-header{
  margin-top: 0;
  border-bottom: black 1px solid;
}
.navbar-brand a{
  color:white;
}
.navbar-brand a:hover{
  text-decoration:none;
}
#myPolity{
  margin-left: 10px;
  color:white;
}
h1{
  font-weight: 700;
}
#zip-section{
  margin-top: 20px;
}
#news-section{
  margin-top: 70px;
}
.news-image{
  float: left;
  height: 100px;
}
.news-story{
  border: 1px solid black;
  padding: 10px;
  display: inline-block;
  width: 300px;
  margin: 0px 10px 20px 10px;
}
.news-image{
  margin-right: 5px;
}
#representative-section{
  border: 1px solid black;
}
.representative{
  border-bottom: 1px solid black;
}
@media screen and (max-width:980px){

}
@media screen and (max-width:768px){

}
@media screen and (max-width:640px){

}
