body{
  overflow-x: hidden;
  background: #ECE9E6; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #ECE9E6 , #FFFFFF); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #ECE9E6 , #FFFFFF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  font-family: 'Open Sans', sans-serif;
}
.navbar{
  background-color:#111111;
}
.navbar .navbar-collapse {
  text-align: center;
}
ul.nav li a, ul.nav li a:visited {
    color: white !important;
}
ul.nav li a:hover, ul.nav li a:active {
    color: lightgrey !important;
    text-decoration:none;
}
.page-header{
  margin-top: 0;
  border-bottom: black 1px solid;
}
.navbar-brand a{
  color:white;
}
.navbar-brand a:hover{
  text-decoration:none;
}
#myPolity{
  margin-left: 10px;
  color:white;
}
h1{
  font-weight: 700;
}
#sign-up{
  margin-bottom: 40px;
}
#zip-section{
  margin-top: 20px;
}
#news-section{
  margin-top: 70px;
  margin-bottom: 40px;
}
.recentArticles{
  height: 300px;
  margin: 5px;
  border: 1px solid black;
  padding: 5px;
}
.slick-slide{
  margin: 10px;
}
.articleSlides{
  float: left;
}
.news-image{
  margin-right: 5px;
}
#representative-section{
  border: 1px solid black;
}
.representative{
  border-bottom: 1px solid black;
}
.slick-prev:before, .slick-next:before {
    color:black !important;
}
img{
  margin: 10px;
}
#login-button{
  background-color: black;
  color: white;
}
#submit-button, #edit-profile-submit, #edit-password, #edit-password-submit{
  background-color: black;
  color: white;
  border: none;
}
#panel-heading{
  background-color: black;
  color: white;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 200px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
@media screen and (max-width:980px){
  overflow-x: hidden;
}
@media screen and (max-width:768px){
  overflow-x: hidden;
}
@media screen and (max-width:640px){
  overflow-x: hidden;
}

.slidesDivClass{
  margin: 10px;
}